
*::after, *::before {
  content: '';
}

body {
  font-size: 100%;
  background-color: #ffb441;
}

.ripple{overflow:hidden;transform:translate3d(0,0,0)}
.ripple:after{content:"";

a{ text-decoration:none !important;transition: all .5s;}


pointer-events:none;
background-image:radial-gradient(circle,#000 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;transform:scale(10,10);opacity:0;transition:transform .5s,opacity 1s}
.ripple:active:after{transform:scale(0,0);opacity:.2;transition:0s}

.btn-negro, .btn-azul, .btn-blanco, .btn-gris, .btn-rojo, .btn-verde{border-radius: 6px;transition: all .5s;display: inline-block;padding: 13px 30px;font-size: 14px;line-height: 14px;font-weight: 200;}


.thin{font-weight: 200;}
.p-50{font-size: 5rem;}
.lh40{line-height: 4rem;}
.txt-blanco{color:#fff;}
/*++++++++++banner skin++++++++++++*/
#bg-skin{/* background: url(../img/bg-skin.svg) center bottom; */padding-top: 0px;}
.recorte{  mask: url(../img/imag.svg) bottom center /cover no-repeat;-webkit-mask: url(../img/imag.svg) bottom center /cover no-repeat; width: 100%;position: absolute;}

.gia-skin{position: absolute;height: 430px;width: 100%;overflow: hidden;}
.gia-skin img {width: 100%;height: 100%;object-fit: cover;display: block;transition: all .5s;}

.trj01{max-width: 326px;border-radius: 10px;box-shadow: 0px 27px 51px 0px rgba(75, 79, 82, 0.3),inset 0px 3px 0px 0px rgba(226, 230, 235, 0.75);background: #fff;overflow: hidden; z-index: 2; margin:0 auto 30px;transition: all .5s;}
.trj01:hover{box-shadow: 0px 17px 31px 0px rgba(75, 79, 82, 0.4),inset 0px 3px 0px 0px rgba(226, 230, 235, 0.75);}
.trj01>figure{background-image:linear-gradient( to top, #51c75b 0%, #57da62);padding: 15px; }
.trj01>div{display: block;}
.desc-trj01{padding: 20px;}
.btn-plus{width: 50px; height: 50px; border-radius: 50%;background:#51c75b; box-shadow: 0px 9px 20px 0px rgba(81, 199, 91, 0.58); position: absolute; right: 5px; bottom:5px;transition: all .5s}
.btn-plus span{width: 19px; height: 3px; border-radius: 1.5px; margin: 0 auto; display: block;position: relative;background: #fff;top: 47%;}
.btn-plus span:last-child{transform: rotate(90deg);top: 42%;}
.btn-plus:hover{box-shadow: 0px 5px 10px 0px rgba(81, 199, 91, 0.78);}
.pos-rel>div:last-child{padding-right: 50px;}
/*++++++++++banner skin++++++++++++*/


.he50px{height: 50px;}
.display-block{display: block;}



@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
 -webkit-animation-fill-mode:both;
  animation-fill-mode: both;
}
.trj01{max-width: 326px;border-radius: 10px;box-shadow: 0px 27px 51px 0px rgba(75, 79, 82, 0.3),inset 0px 3px 0px 0px rgba(226, 230, 235, 0.75);background: #fff;overflow: hidden; z-index: 2; margin:0 auto 30px;transition: all .5s;}
.pos-rel{position: relative;}
.trj01>figure{background-image:linear-gradient( to top, #51c75b 0%, #57da62);padding: 15px; }
